<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" style="height: 100%">
<head>
    <meta charset="UTF-8"/>
    <title>Candidate Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.min.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body th:object="${attackDetails}" style="font-family: 'Montserrat';height: 100%">
<div th:insert="fragments.html :: header"></div>

<!-- header-end -->
<section class="section">
    <!--    Side Bar Starts here    -->
    <div class="sidenav px-5">
        <div>
            <hr/>
        </div>
    </div>
    <article>
        <div class="box px-3">
            <a class="mt-3 ms-3 primary" id="back-link"><i class="fa-solid fa-angle-left me-1"></i> Volver a la búsqueda anterior </a>
            <h1 class="primary-title mt-3"> Info del ataque </h1>
            <div class="ms-3">
                <h4 th:text="${attackDetails.title}" class="job-title text-left">The first Sql attack</h4>
                <div class="mt-1">
<!--                    <p th:text="${attackDetails.jobLocation.city+', '+ jobDetails.jobLocation.state}"-->
<!--                       class="m-0"> California, USA</p>-->
<!--                    <p th:text="${jobDetails.jobCompany.name}">Company</p>-->
                </div>
                <div class="mt-3">
                    <a th:href="${attackDetails.laboratoryUrl}" class="laboratory-link" target="_blank">Visitar laboratorio</a>
                </div>
            </div>
        </div>

        <div class="box mt-3">
            <label class="large-label px-3 mt-3"> Detalles del ataque </label>

            <div class="box mt-3">
                <label class="large-label px-3 mt-3"> Detalles del ataque </label>

                <div class="job-row">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-left">Date Posted: <span th:text="${attackDetails.postedDate}">12 Nov, 2030</span></label>
                        </div>
                        <div class="col-md-3 text-center">
                            <label>Dificultad: <span th:text="${attackDetails.difficulty}">Easy</span></label>
                        </div>
                        <div class="col-md-3 text-center">
                            <label>Tipo de ataque: <span th:text="${attackDetails.typeAttack.name}">SQLI</span></label>
                        </div>
                    </div>
                    <!-- Video Section -->
                    <div class="row mt-3">
                        <div class="col-md-6 text-center">
                            <h3>Explanation video</h3>
                            <video width="600" controls>
                                <source th:src="@{/videos/{videoFile}(videoFile=${attackDetails.preVideoFile})}" type="video/mp4">
                                <p th:text="@{/videos/{videoFile}(videoFile=${attackDetails.preVideoFile})}"></p>
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="col-md-6 text-center" th:if="${attackDetails.completed == true}">
                            <h3>Solution video</h3>
                            <video width="600" controls>
                                <source th:src="@{${'/videos/attack/' + attackDetails.id + '/' + attackDetails.solutionVideoFile}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>




            <div class="px-3 mb-3" >
                <div class="row">
                    <div class="col-md-9">
                        <label class="large-label "> Descripción del ataque </label>
                        <div th:text="${attackDetails.description}"></div>
                    </div>
                    <div class="col-md-3 centerCandidate">
                        <div class="candidatesApplied">
                            <label>Candidatos que han completado el reto</label>
                            <div th:text="${attackDetails.totalStudentsCompleted}"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-3 px-3">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <form th:action="@{/attack-details/save/{id}(id=${attackDetails.id})}" method="post">
                            <button class="btn-sec btn-black w-100" type="submit" th:if="${attackDetails.saved == false}">Guardar</button>
                        </form>
                        <form th:action="@{/attack-details/unsave/{id}(id=${attackDetails.id})}" method="post">
                            <button class="btn-sec btn-red w-100" type="submit" th:if="${attackDetails.saved == true}">Quitar de Guardados</button>
                        </form>
                    </div>
                    <div class="col-md-3" >
                        <form id="completeForm" th:if="${attackDetails.completed == false}" th:action="@{/attack-details/complete/{id}(id=${attackDetails.id})}" method="post">
                            <label for="completionInput" th:text="${attackDetails.question}">¿Por qué completaste este ataque?</label>
                            <input type="text" id="completionInput" name="answer" class="form-control mb-2" placeholder="Respuesta">
                            <button class="btn-sec btn-black w-100" type="button" onclick="showCompletionModal()">Comprobar respuesta</button>
                        </form>
                        <form th:action="@{/attack-details/uncomplete/{id}(id=${attackDetails.id})}" th:object="${attackDetails}" method="post">
                            <button class="btn-sec btn-red w-100" th:if="${attackDetails.completed == true}">Desmarcar como completado</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="mt-3 px-3" sec:authorize="hasAuthority('Admin')">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <form th:action="@{/dashboard/edit/{id}(id=${attackDetails.id})}" method="post">
                            <button class="btn-sec btn-red w-100" type="submit">Editar Ataque</button>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <form th:action="@{/dashboard/deleteAttack/{id}(id=${attackDetails.id})}" method="post">
                            <button class="btn-sec btn-black w-100" type="submit">Eliminar ataque</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>
<!-- Modal -->
<div class="modal fade" id="completionModal" tabindex="-1" role="dialog" aria-labelledby="completionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="completionModalLabel">Has acertado!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Quieres volver al dashboard o ver el video con la solución?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="dashboardButton">Volver al Dashboard</button>
                <button type="button" class="btn btn-primary" id="watchVideoButton">Ver Video</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    var element = document.getElementById('back-link');
    element.setAttribute('href', document.referrer);
    element.onclick = function() {
      history.back();
      return false;
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function showCompletionModal() {
    const url = $('#completeForm').attr('action');

    $.ajax({
        type: 'POST',
        url: url,
        data: $('#completeForm').serialize(),
        success: function(response) {
            if (response.status === "correct") {
                // Mostrar el modal en caso de éxito
                $('#completionModal').modal('show');

                // Configurar los botones para redirigir con el solutionVideoId
                document.getElementById('dashboardButton').addEventListener('click', function() {
                    window.location.href = '/dashboard/';
                });

                document.getElementById('watchVideoButton').addEventListener('click', function() {
                    window.location.href = '/video/watch/' + response.solutionVideoId;
                });
            } else if (response.status === "incorrect") {
                alert(response.message);
            }
        },
        error: function() {
            alert('Error al completar el ataque.');
        }
    });
}
</script>

</body>
</html>