<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>
<div th:insert="fragments.html :: header"></div>
<section class="section">
    <div class="sidenav px-5">
        <div sec:authorize="hasAuthority('Student') or hasAuthority('Admin')">
            <hr/>

        </div>
    </div>

    <article>

        <div class="box">
            <h1 class="primary-title">Saved videos</h1>
        </div>

        <div class="box mt-3">
            <label class="large-label px-3 mb-3" sec:authorize="hasAuthority('Student') or hasAuthority('Admin')">Resultados de la
                búsqueda</label>
            <th:block th:each="video:${videos}">
                <a
                        th:href="@{/video/watch/{id}(id=${video.id})}"
                        style="text-decoration: none; color: black"
                >
                    <div
                            onclick="window.location=/video/watch/{id}(id=${video.id})"
                            class="job-row"
                    >
                        <div class="row">
                            <div class="col-md-4">
                                <label class="job-title text-left">
                                    [[${video.title}]]
                                    <span
                                            class="title-span"
                                            sec:authorize="hasAuthority('Student') or hasAuthority('Admin')"
                                            th:if="${video.isCompleted == true}"
                                    >(Superado)</span
                                    >
                                    <span
                                            class="title-span"
                                            sec:authorize="hasAuthority('Student') or hasAuthority('Admin')"
                                            th:if="${video.isSaved == true}"
                                    >(Guardado)</span
                                    >
                                </label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label
                                        th:text="${video.typeAttack.name}"
                                >
                                    Tipo de ataque</label
                                >
                            </div>
                            <div class="col-md-4 text-right">
                                <label th:text="@{${video.difficulty}}"
                                >Admin Difficulty</label
                                >
                            </div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>

    </article>


</section>

<!--/ bradcam_area  -->


<script
        type="text/javascript"
        th:src="@{/webjars/jquery/jquery.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/popper.js/umd/popper.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

<!--<script>-->

<!--    $('#job').change(function() {-->
<!--      $('#hidJob').val($(this).val());-->
<!--    });-->
<!--    $('#loc').change(function() {-->
<!--      $('#hidLoc').val($(this).val());-->
<!--    });-->
<!--</script>-->
</body>
</html>
